{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem">
            <img src="../static/recipes/recipe_photos/Broccoli Salad.jpg" class="card-img-top" alt="..." style="width: 318px; height:318px;"> 
            <div class="card-body">
                <h3>Broccoli Salad</h3> 
                <form method="POST" action="/recipes" enctype=multipart/form-data>
                    <input type="submit"  class="btn btn-primary" id = "recipe_button" name="recipe" value="Broccoli Salad">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem;">
            <img src="../static/recipes/recipe_photos/Savory Broccoli Pancakes.jpg" class="card-img-top" alt="..." style="width: 318px; height:318px;">
            <div class="card-body">
                <h3>Broccoli Pancakes</h3>
                <form method="POST" action="/recipes">
                  <input type="submit" class="btn btn-primary" id = "recipe_button" name="recipe" value="Savory Broccoli Pancakes">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem;">
            <img src="../static/recipes/recipe_photos/Broccoli Cheddar Soup.jpg" class="card-img-top" alt="..." style="width: 318px; height:318px;">
            <div class="card-body">
                <h3>Broccoli Cheddar Soup</h3>
                <form method="POST" action="/recipes">
                  <input type="submit"  class="btn btn-primary" id = "recipe_button" name="recipe" value="Broccoli Cheddar Soup">
                </form>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}
