{% extends "layout.html" %}
{% block content %}
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem;">
            <img src="../static/recipes/recipe_photos/Broccoli_cheddar_soup.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Broccoli Cheddar Soup</h3>
                <a href="broccoli_soup" class="btn btn-primary">See Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem;">
            <img src="../static/recipes/recipe_photos/broccoli_pancakes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Broccoli Pancakes</h3>
                <a href="broccoli_pancakes" class="btn btn-primary">See Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem">
            <img src="../static/recipes/recipe_photos/broccoli_salad.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Broccoli Salad</h3>  
                <a href="broccoli_salad" class="btn btn-primary" >See Recipe</a>
            </div>
        </div>
    </div>
  </div>
    
{% endblock %}