{% extends "layout.html" %}
{% block content %}
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem">
            <img src="../static/recipes/recipe_photos/creamless_roasted_butternut_squash_soup.jpg" class="card-img-top" alt="..." style="width: 318px; height:318px;">
            <div class="card-body">
                <h3>Creamless Roasted Butternut Squash Soup</h3>  
                <a href="butternut_squash_soup" class="btn btn-primary" >See Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem;">
            <img src="../static/recipes/recipe_photos/roasted_butternut_squash_pizza.jpg" class="card-img-top" alt="..." style="width: 318px; height:318px;">
            <div class="card-body">
                <h3>Roasted Butternut Squash Pizza</h3>
                <a href="butternut_squash_pizza" class="btn btn-primary">See Recipe</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem;">
            <img src="../static/recipes/recipe_photos/butternut_squash_with_beef.jpg" class="card-img-top" alt="..." style="width: 318px; height:318px;">
            <div class="card-body">
                <h3>Butternut Squash Chili with Beef</h3>
                <a href="butternut_squash_beef" class="btn btn-primary">See Recipe</a>
            </div>
        </div>
    </div>
  </div>


{% endblock %}