{% extends "layout.html" %}
{% block content %}
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem">
            <img src="../static/recipes/recipe_photos/Minty Watermelon-Cucumber Salad.jpg" class="card-img-top" alt="..." style="width: 318px; height:318px;">
            <div class="card-body">
                <h3>Minty Watermelon Cucumber Salad</h3>  
                <form method="POST" action="/recipes">
                    <input type="submit" class="btn btn-primary" id = "recipe_button" name="recipe" value="Minty Watermelon-Cucumber Salad">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem;">
            <img src="../static/recipes/recipe_photos/Mama's Warm German Potato Salad.jpg" class="card-img-top" alt="..." style="width: 318px; height:318px;">
            <div class="card-body">
                <h3>Mama’s Warm German Cucumber Potato Salad</h3>
                <form method="POST" action="/recipes">
                    <input type="submit" class="btn btn-primary" id = "recipe_button" name="recipe" value="Mama's Warm German Potato Salad" >
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 20rem; height: 29rem;">
            <img src="../static/recipes/recipe_photos/Chicken with Mango Cucumber Salsa.jpg" class="card-img-top" alt="..." style="width: 318px; height:318px;">
            <div class="card-body">
                <h3>Chicken with Mango Cucumber Salsa</h3>
                <form method="POST" action="/recipes">
                    <input type="submit" class="btn btn-primary" id = "recipe_button" name="recipe" value="Chicken with Mango Cucumber Salsa" >
                </form>
            </div>
        </div>
    </div>
  </div>

{% endblock %}

