{% extends "layout.html" %}
{% block content %}
<br>
<div class = "row">
<div class="col-md-4">
    <div class="recipe_name">
        {% for recp in recps %}
        <h2>{{ recp.name }}</h2>
        <img src="../static/recipes/recipe_photos/{{recp.name}}.jpg"  alt="food_recipe" style="width:96%; height: 90%;" styple="float:left"></img>
        {% endfor %} 
        <br>
        <div class="card" style="width: 21rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Cost</h5>
                        {% for total in total %}
                        <p>{{ total }}</p>
                        {% endfor %} 
                    </div>
                    <div class="col-sm-4">
                        <h6>Time</h5>
                        {% for recp in recps %}
                        <p>{{ recp.time }}</p>
                    </div>
                    <div class="col-sm-4">
                        <h6>Calories</h5>
                        <p>{{ recp.calories }}</p>
                    </div>
                    {% endfor %}    
                </div>
            </div>
            {% for recp in recps %}
            <a href="{{recp.link}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="font-family: cursive;">Reference</a> 
            {% endfor %} 
        </div>
    </div>
</div>
<div class ="col-md-4">
    <div class="ingredients">
    <h2>Ingredients</h2>
    {% for ingre in ingres %}
    <p>{{ ingre.ingredient }}, {{ ingre.cost}}, {{ ingre.sale }}</p>
    {% endfor %}
    </div>
</div>
<div class ="col-md-4">
    <div class="instructions">
        <h2>Instructions</h2>
        {% for recp in recps %}
        <p>{{ recp.direction }}</p>
        {% endfor %}
    </div>
</div>   

{% endblock content %}