{% extends "layout.html" %}
{% block content %} 
  <br>
  
  <div class="jumbotron" style="text-align: center;">
      <h1>Registration From</h1>
      <p>Complete the registration and start using our the service today!</p>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form method="POST" action="/register" role="form", name="petform">
            <div class="form-group">
                <label for="fristName">Frist Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Last Name" >
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="email">E-Mail Address</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="E-Mail Address">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="fristName">Age</label>
                <input type="text" class="form-control" id="age" name="age" placeholder="Age">
            </div>
            <div class="form-group">
                <label for="fristName">Gender</label>
                <input type="radio" class="form-control" id="male" name="gender" value="male">Male
                <input type="radio" class="form-control" id="female" name="gender" value="female">Female
            </div>
            <div class="form-group">
                <label for="inputLat">Zip-Code</label>
                <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Zip Code">
            </div>
            <div class="form-group">
                <label for="inputLon">Your Personal Haritage</label>
                <input type="radio" class="form-control" id="white" name="ethicity" value="white">White
                <input type="radio" class="form-control" id="black" name="ethicity" value="black">Black
                <input type="radio" class="form-control" id="asian" name="ethicity" value="asian">Asian
                <input type="radio" class="form-control" id="others" name="ethicity"value="others">Others
            </div>
            <!--<input type="submit" value="submit" class="btn btn-default">-->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>

{% endblock %}
   
