{% extends "layout.html" %}
{% block content %}

  <br>
  <br>
  
  <div class="team-section">
    <h1>Our Team</h1>
    <br>
    <div class ="row">
        <div class = "col-md-6">
            <img src="../static/images/Norman.png" class="img-circle_pic" alt="profile picture" width="200" height="200"></img>
            <p class="name">Norman Lo</p>
        </div>
        <div class = "col-md-6">
            <img src="../static/images/Qiqiong.png" class="img-circle_pic" alt="profile picture" width="200" height="200"></img>
            <p class="name">Qiqiong Yu</p>
        </div>
    </div>
    <br>
    <br>
    <div class ="row">
        <h1>About The Project</h1>

    </div>
  </div>
    

{% endblock %}