{% extends "layout.html" %}
{% block content %}
  <br>
  <div class="team-section">
    <div class ="row">
      <div class = "col-lg-4">
          <h2>Our Team</h2>
          <br>
          <br>
          <img src="../static/images/Norman.png" class="img-circle_pic" alt="profile picture" width="200" height="200"></img>
          <h2>Norman Lo</h2>
          <ul class="social">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/norman-data-economist/">
                  <i class="fa fa-linkedin-square" style="font-size:55px;color:rgb(39, 140, 223)"></i>
              </a>
            </li>
          </ul>
      </div>
      <div class = "col-lg-4">
          <br>
          <br>
          <br>
          <br>
          <img src="../static/images/Qiqiong.png" class="img-circle_pic" alt="profile picture" width="200" height="200"></img>
          <h2>Qiqiong Yu</h2> 
          <ul class="social">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/qiqiong-yu-431971185/">
                  <i class="fa fa-linkedin-square" style="font-size:55px;color:rgb(39, 140, 223)"></i>
              </a>
            </li>
          </ul>
      </div>
      <div class = "col-lg-4" id="team">
        <h2>About The Project</h2>
        <p>Our team wants to make grocery shopping more convenient. Because sometimes we go to 
          grocery to purchase food to cook lunches or dinners, we don’t know what to purchase or what 
          types of food to cook. Sometimes even we have an idea what to cook. It will end to miss 
          purchase certain types of ingredients or not purchase enough amounts of food, then we couldn’t 
          even cook the completed cuisines. </p>
        <p>The idea of this app allows for people to upload images of their desired food and check 
          different recipes with comprehensive ingredients, instruction, cook time and calories by using 
          their photos. According to people’s register information, the app can predict whether the person 
          is in high or low obesity group. If she/he is in high obesity group, the app will recommend her/him a 
          ranking of recipes by low calories to high calories. </p>
        <p>For each recipe, we also show each ingredient’s cost at amazon. People can compare costs from 
          regular grocery with amazon. </p>
      </div>
    </div>
  </div>
    

{% endblock %}
