{% extends "layout.html" %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem; height: 30rem;">
            <img src="../static/images/broccoli.jpg" class="card-img-top" alt="..." style="opacity: 0.3">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1" style="font-size:18px">Upload Broccoli Photo</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
                <a href="broccoli_low" class="btn btn-primary">See Recipes</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem; height: 30rem;">
            <img src="../static/images/butternut_squash.jpg" class="card-img-top" alt="..." style="opacity: 0.3">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1" style="font-size:18px">Upload butternut Squash Photo</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
                <a href="cucumber_low" class="btn btn-primary">See Recipes</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem; height: 30rem">
            <img src="../static/images/cucumber.gif" class="card-img-top" alt="..." style="opacity: 0.3">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1" style="font-size:18px">Upload Cucumber Photo</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
                <a href="butternut_squash_low" class="btn btn-primary" >See Recipes</a>
            </div>
        </div>
    </div>
    </div>

{% endblock %}