{% extends "layout.html" %}
{% block content %} 
  <br>
  <div class="row">
        <br>
        <br>
        <div class="predict" style="margin-left: 400px">
          <h3>Upload Photo to Predict</h3>  
          <img src="../static/images/camera_icon.gif" id="photo" class="img-thumbnail">
          <br>
          <br> 
          <form method=post enctype=multipart/form-data>
            <input type="file" name=file class="form-control-file" onchange="preview(event)">  
            <br>
            <input type=submit class="btn btn-primary" value="See Recipes">
          </form>
        </div>
  </div>
  
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}  