{% extends "layout.html" %}
{% block content %} 
  <br>
  <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem; height: 30rem;">
            <img src="../static/images/broccoli.jpg" class="card-img-top" alt="..." style="opacity: 0.3">
            <div class="card-body">
                <!-- <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1" style="font-size:18px">Upload Photo to Predict</label>
                        <form method=post enctype=multipart/form-data>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                          <br>
                          <input type=submit class="btn btn-primary" value="See Recipes">
                        </form>
                        
                    </div>
                </form> -->
                <!-- <h1>Upload new File</h1> -->
                <label for="exampleFormControlFile1" style="font-size:18px">Upload Photo to Predict</label>
                <form method=post enctype=multipart/form-data>
                    <input type=file name=file class="form-control-file">
                    <br>
                    <input type=submit class="btn btn-primary" value="See Recipes">
                </form>

            </div>
        </div>
    </div>
  </div>
   
{% endblock %}


