{% extends "layout.html" %}
 {% block content %} 
  <br>
  <br>
  <div class = "row">
    <div class="col-md-4">
        <div class="recipe_name">
            <p>Minty Watermelon-Cucumber Salad</p>
            <img src="../static/recipes/recipe_photos/minty_watermelon_cucumber_salad.jpg"  alt="food_recipe" style="width:100%; height: 100%" styple="float:right"></img>
            <br>
            <br>
            <a href="https://www.tasteofhome.com/recipes/minty-watermelon-cucumber-salad/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="font-family: cursive;">Reference</a>
        </div>
    </div>
    <div class ="col-md-3">
        <div class="ingredients">
          <p>Ingredients</p>
        </div>
    </div>
    <div class ="col-md-4">
        <div class="instructions">
            <p>Instructions</p>
        </div>
    </div>
    <div class ="col-md-1">
        <div class="cost_hour">
            <p>Time</p>
            <p>Cost</p>
        </div>
    </div>
  </div>
{% endblock %}