html, body {
    background-color: white;
    height: 100%;
    padding: 0;
    margin: 0;
}
.navbar-nav{ 
    font-family: cursive; 
    font-size:18px;
}
.navbar-brand{
    margin-left: 30px;
}
.img{
    margin-left:0px;
    padding-left: 0px;
}

#description{
    margin-top: 50px;
    margin-left: 40px;
    color:black;
    font-size: 38px; 
    font-family: fantasy;
}

.recipes{
    margin: 60px 180px;
}


h5,p{
    font-family: cursive;
    color:black;
    font-weight: bold;
    font-size: 25px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card-text{
    color:black;
}


.form-group{
    position: center;
    font-family: fantasy;
    font-weight: bold;
    font-size: 15px;
}

.recipe_link{
    font-family: cursive;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.img-circle_pic {
    border-radius: 50%;
    margin-bottom: 80px;
    border-width: 7px;
    border-color:lightgrey;
    border-style: solid;
}

h1 {
    color:black;
    font-family: fantasy;
    font-size: 23px;
}

.carousel {
    width:1200px;
    height:480px;
    position: center;
}

form{
    margin-bottom:50px;
}

label{
    font-family: cursive;
    font-size:20px;
}
h3{
    font-family: fantasy;
    font-size: 20px;
}


.wrapper {
    text-align: center;
}

.button1 {
    position: absolute;
    top: 50%;
}

footer {
    background-color:white;
    border-top-color:rgba(104, 159, 243, 0.63);
    border-top-style: solid;
    border-top-width: 5px;
    color: black;
    font-family: cursive;
    font-size: 18px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
}






